<main>
  <div class="container px-5 my-5">
    <div class="row px-5">
      <div class="mt-5">
        <h2 class="mt-3"><%= @customer.name %>さんの会員詳細</h2>
        <div class="form-group mt-3">
          <p>会員ID</p>
          <%= @customer.id %>
        </div>
        <div class="form-group mt-3">
          <p>名前</p>
          <%= @customer.name %>
        </div>
        <div class="form-group mt-3">
          <p>メールアドレス</p>
          <%= @customer.email %>
        </div>
        <div class="form-group mt-3">
          <p>会員ステータス</p>
          <%= @customer.is_deleted ? "退会" : "有効" %>
        </div>
        <div class="form-group mt-3">
          <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-sm btn-success" %>
        </div>
      </div>
    </div>
  </div>
</main>
