<div class="container my-3">
  <div class="row">
    <%= render 'public/books/index', book: @book, customer: @customer %>
    <div class="col-md-8 offset-md-1">
      <h2>お勧めする本の詳細</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td><%= image_tag @customer.get_profile_image(40, 40) %><br><%= link_to @customer.name, customer_path(@customer.id) %></td>
            <td><%= link_to @book.title, book_path(@book.id), 'data-turbolinks': false %></td> <%# 二重読み込み防止のため %>
            <td><%= @book.body %></td>
            <td><%= @book.genre.name %></td>
            <td>コメント数: <%= @book.book_comments.count %></td>
            <td id="star-rate<%= @book.id %>"></td>
            <script>
              $('#star-rate<%= @book.id %>').empty();
              $('#star-rate<%= @book.id %>').raty({
                size: 24,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn: '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= @book.star %>,
              });
            </script>
            <td class="bookmark-btn_<%= @book.id %>">
             <%= render 'public/bookmarks/bookmark-btn', book: @book %>
            </td>
            <% if @book.customer == current_customer %>
              <td><%= link_to "編集", edit_book_path(@book.id), class: "btn btn-sm btn-success edit_public_book" %></td>
              <td><%= link_to "削除", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger public_destroy_book" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div class="comments-area">
        <%= render 'public/book_comments/comment', book: @book, book_comment: @book_comment %>
      </div>
    </div>
  </div>
</div>
