<div class="container px-5 my-5">
  <div class="row mt-3">
    <%= render 'public/books/index', book: @book, customer: @customer %>
    <div class="col-md-8 offset-md-1">
      <h2>お勧めする本の詳細</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td><%= image_tag @customer.get_profile_image(40, 40) %><br><%= link_to @customer.name, customer_path(@customer.id) %></td>
            <td><%= link_to @book.title, book_path(@book.id) %></td>
            <td><%= @book.body %></td>
            <td><%= @book.genre.name %></td>
            <td>コメント数: <%= @book.book_comments.count %></td>
            <td>評価: <%= @book.star %></td>
            <td id="star-rate<%= @book.id %>"></td>
            <script>
              $('#star').empty();
              $('#star-rate<%= @book.id %>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                half      : true,
                readOnly: true,
                score: <%= @book.star %>,
              });
            </script>
            <% if @book.customer == current_customer %>
              <td><%= link_to "編集する", edit_book_path(@book.id), class: "btn btn-sm btn-success edit_public_book" %></td>
              <td><%= link_to "削除する", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger public_destroy_book" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div class="comments-area">
        <%= render 'public/book_comments/comment', book: @book, book_comment: @book_comment %>
      </div>
    </div>
  </div>
</div>
