<header>
  <nav>
    <div>
      <button>
        <span></span>
      </button>
      <a></a>
      <div>
        <ul>
          <% if admin_signed_in? %>
            <li>
              <li>
                <%= link_to(admin_customers_path, class: "btn btn-sm btn-outline-secondary") do %>
                 会員一覧
                <% end %>
              </li>
              <li>
                <%= link_to(admin_books_path, class: "btn btn-sm btn-outline-secondary") do %>
                 本　投稿一覧
                <% end %>
              </li>
              <%= link_to(destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary") do %>
               ログアウト
              <% end %>
            </li>
          <% elsif customer_signed_in? %>
            <li></li>
            <li>
              <%= link_to(public_customer_path(current_customer.id), class: "btn btn-sm outline-secondary") do %>
              　マイページ
              <% end %>
            </li>
            <li>
              <%= link_to(public_books_path, class: "btn btn-sm outline-secondary") do %>
               本 投稿一覧
              <% end %>
            </li>
            <li>
              <%= link_to(destroy_customer_session_path, method: :delete, class: "btn btn-sm outline-secondary") do %>
               ログアウト
              <% end %>
            </li>
          <% else %>
          <li>
            <%= link_to(public_root_path, class: "btn btn-sm btn-outline-secondary") do %>
             Home
            <% end %>
          </li>
           <li>
             <%= link_to(public_homes_about_path, class: "btn btn-sm btn-outline-secondary") do %>
              About
            <% end %>
           </li>
           <li>
             <%= link_to(new_customer_registration_path, class: "btn btn-sm outline-secondary") do %>
              新規登録
             <% end %>
           </li>
           <li>
             <%= link_to(customer_session_path, class: "btn btn-sm outline-secondary") do %>
              ログイン
             <% end %>
           </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>